<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cibiod2.estetho"
    android:versionCode="2"
    android:versionName="Closed">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:icon="@drawable/vector_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:allowBackup="true"
        tools:ignore="AllowBackup">
        <activity android:name="com.cibiod2.estetho.activities.IntroActivity" />
        <activity
            android:name="com.cibiod2.estetho.activities.BluetoothActivity"
            android:hardwareAccelerated="true" />
        <activity android:name="com.cibiod2.estetho.activities.ForumActivity" />
        <activity android:name="com.cibiod2.estetho.activities.PatientActivity" />
        <activity android:name="com.cibiod2.estetho.activities.LoginActivity" />
        <activity android:name="com.cibiod2.estetho.activities.HomeActivity" />
        <activity android:name="com.cibiod2.estetho.activities.RegisterActivity" />
        <activity android:name="com.cibiod2.estetho.activities.SettingsActivity" />
        <activity android:name="com.cibiod2.estetho.activities.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>